// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {
    max-width: 1440px !important;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-link {
    text-decoration: none;
    color: #0a0b0e !important;

    &:hover {
        color: #536467 !important;
    }
}

.mode-area {
    &:hover {
        cursor: pointer;
        background-color: #e4e4e4;
    }
}

.cards-scroll-container {
    height: 620px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 20px;
}

.invalid-feedback {
    font-size: 100% !important;
}

.card-toggle-container {
    padding-bottom: 10px;

    &:hover {
        cursor: pointer;
    }

    .card-toggle-header {
        display: block;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid lightgray;
        padding: 10px;
        font-size: 1.2em;

        &:hover {
            background-color: #f5f5f5;
        }
    }

    .card-toggle-content {
        padding: 10px;
        border: 1px solid lightgray;
        border-top: none;
    }
}

.messages-container {
    border-radius: 6px;
    border: 1px solid lightgray;
    padding: 10px;

    .message-container {
        display: block;
        margin: 4px 0;

        .message {
            padding: 4px 8px;
            border: 1px solid #e4f2ff;
            border-radius: 6px;
            background-color: #f0f8ff;
            font-size: 1em;
        }

        .date {
            font-size: 0.75em;
            color: gray;
            padding: 4px 8px;
        }
    }
}

.auth-container {
    padding: 50px 0;
    .title {
        display: block;
        font-size: 30px;
        color: #4b2354;
        line-height: 1.2;
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
    }
}

.login-wrap {
    width: 390px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 80px 55px 30px;
}

.round-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    color: #1b1b1b;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.4s;
    box-shadow: 0 10px 20px 0 rgba(212, 205, 208, 0.5);
    background-color: #fff;

    &.blue {
        color: #fff;
        box-shadow: 0 10px 20px 0 rgba(98, 109, 175, 0.5);
        background-color: #667cd0;
        &:hover {
            background-color: #4e5d9c;
            box-shadow: 0 10px 20px 0 rgba(82, 93, 150, 0.5);
        }
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0 1px 20px 0 rgba(189, 182, 185, 0.5);
        background-color: #f6f6f6;
    }
}

.round-large-btn {
    min-width: 160px;
}

.input-large {
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 62px;
    background: transparent;
    padding: 0 20px 0 23px;
    border-radius: 25px;
    box-shadow: 0 1px 20px 0 rgba(172, 170, 177, 0.5);
}

.additional-text {
    color: gray;
}

